.input {
	padding-bottom: 12px;
}

.titleRoot {
	font-family: 'Josefin Sans Variable';
	color: black;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 4px;
}

.inputLabel {
	font-family: 'Josefin Sans Variable';
	color: black;
	text-transform: uppercase;
	font-weight: 600 !important;
	font-size: 11px !important;
	letter-spacing: 0.2px;
	padding-top: 3px;
}

.fieldSetLegend {
	background-color: pink;
	border: 1px solid;
	border-color: pink;
	color: white;
	font-family: 'Josefin Sans Variable';
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px !important;
	letter-spacing: 1px;
	padding: 2px 5px 0px;
	border-radius: var(--mantine-radius-sm);
}
