.input {
	padding-bottom: 12px;
}

.fieldSetLegend {
	background-color: pink;
	border: 1px solid;
	border-color: pink;
	color: white;
	font-family: 'Josefin Sans Variable';
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px !important;
	letter-spacing: 1px;
	padding: 2px 5px 0px;
	border-radius: var(--mantine-radius-sm);
}
